In [41]:
import pandas as pd
import os
import csv
from datetime import datetime
from dateutil.parser import parse
COLUMNS_NAME = ["Date", "Sensor_1_left", "Sensor_2_left","Sensor_3_left", "Sensor_4_left", "Sensor_5_left", "Sensor_6_left", "Sensor_7_left", "Sensor_8_left",
               "Acc_x_left", "Acc_y_left", "Acc_z_left", "Gyzo_x_left", "Gyzo_y_left", "Gyzo_z_left",
               "Sensor_1_right", "Sensor_2_right","Sensor_3_right", "Sensor_4_right", "Sensor_5_right", "Sensor_6_right", "Sensor_7_right", "Sensor_8_right",
               "Acc_x_right", "Acc_y_right", "Acc_z_right", "Gyzo_x_right", "Gyzo_y_right", "Gyzo_z_right"]
#print(len(COLUMNS_NAME))
LIST_OF_ACTIONS = [None, "Walking", "Uphill Walking", "Downhill Walking", "Going Up Stairs", "Going Down Stairs", "Running", "Walking Fast"]

In [42]:
def get_file_paths(path):
    """
    Return a list of direction of files in current path contains names of file in the direction
    """
    return [os.path.join(path, p) for p in os.listdir(path)]
PATH = "C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset"
#print(os.listdir(PATH))
PATH1= "C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\09"
#print(get_file_paths(path1)[0])
def get_file_names(path):
    """
    return paths of files under this input path
    """
    #paths = get_file_paths(path)
    return os.listdir(path)
print(get_file_paths(PATH))

['C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\01', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\02', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\03', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\04', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\05', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\06', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\07', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\08', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\09', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\10', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\11', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\12', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\13', 'C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\14']

In [43]:
def look_up_table_for_each_person(path, list_of_actions):
    """
    return a dictionary with keys: Walking, Uphill Walking, Downhill Walking, Going Up Stairs, Going Down Stairs, 
    Running, Walking Fast
    that maps to walking data, uphill waking data, downhill walking data, goint up stairs data, going down stairs data,... etc
    """
    #file_names = [os.path.splitext(file)[0] for file in file_names]
    file_names = get_file_names(path)
    file_paths = get_file_paths(path)
    #print(files_names)
    look_up = {}
    for i in range(len(file_names)):
        file = file_names[i]
        file_path = file_paths[i]
        #print(file_path)
        not_extension = os.path.splitext(file)[0]
        user_id = int(not_extension.split("_")[0])
        n = int(not_extension.split("_")[1])
        #print(n)
        #print(file)
        data = pd.read_csv(file_path, names = COLUMNS_NAME)
        data = data.drop(data.index[0])
        #Insert a user_id column and an action column
        data.insert(0, "User_id", user_id)
        data.insert(1, "Action", list_of_actions[n])
        look_up[list_of_actions[n]] = data
    return look_up
table = look_up_table_for_each_person(PATH1, LIST_OF_ACTIONS)

In [44]:
#table["Walking Fast"].describe()
df = table["Walking"]
df.head(7)
#null_positions = df[df['Date'].isnull()].index.tolist()
#table["Walking"].isnull().sum(axis = 0)
#null_positions
#eva = df.isnull().any()
#eva.head()

,User_id,Action,Date,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,Sensor_7_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
1,9,Walking,'2017-08-02 19:33:25.724,1,0,0,0,0,0,0,...,0,1,1,1,-211,438,-8740,6,-21,-44
2,9,Walking,'2017-08-02 19:33:25.734,1,0,0,0,0,0,0,...,0,1,1,1,-197,395,-8698,3,-17,-40
3,9,Walking,'2017-08-02 19:33:25.744,1,0,0,0,0,0,0,...,0,1,1,1,-201,406,-8704,-2,-34,-36
4,9,Walking,'2017-08-02 19:33:25.754,1,0,0,0,0,0,0,...,0,1,1,1,-197,419,-8713,2,-26,-44
5,9,Walking,'2017-08-02 19:33:25.764,1,0,0,0,0,0,0,...,0,1,1,1,-199,404,-8685,-2,-26,-37
6,9,Walking,'2017-08-02 19:33:25.774,1,0,0,0,0,0,0,...,0,1,1,1,-225,375,-8707,-1,9,-42
7,9,Walking,'2017-08-02 19:33:25.784,1,0,0,0,0,0,0,...,0,1,1,1,-200,453,-8692,-19,34,-38

In [8]:
walk_fast = table["Walking Fast"]

In [9]:
d = walk_fast.iloc[0, 2]

In [10]:
type(walk_fast.iloc[0, 2])

str

In [11]:
from datetime import datetime
string_datetime = "2017-08-02 13:29:23.778"
datetime.strptime(string_datetime, "%Y-%m-%d %H:%M:%S.%f")

datetime.datetime(2017, 8, 2, 13, 29, 23, 778000)

In [12]:
d

"'2017-08-02 19:38:59.040"

In [13]:
parse(string_datetime)

datetime.datetime(2017, 8, 2, 13, 29, 23, 778000)

In [14]:
from dateutil.parser import parse
parse(d)#this one works

datetime.datetime(2017, 8, 2, 19, 38, 59, 40000)

In [15]:
first_datetime = walk_fast.iloc[0, 2]
third_datetime = walk_fast.iloc[2, 2]

In [16]:
delta = parse(third_datetime) - parse(first_datetime)

In [17]:
parse(third_datetime)

datetime.datetime(2017, 8, 2, 19, 38, 59, 60000)

In [18]:
parse(first_datetime)

datetime.datetime(2017, 8, 2, 19, 38, 59, 40000)

In [19]:
type(walk_fast)

pandas.core.frame.DataFrame

In [20]:
co = walk_fast.iloc[:, 2]

In [21]:
interval = pd.Series([10, 15, 16, 17])

In [22]:
num_rows = walk_fast.shape[0]
num_rows

19444

In [23]:
a = [parse(date_time) for date_time in walk_fast.iloc[:, 2]]
b = [parse(walk_fast.iloc[0, 2])] * num_rows

In [24]:
delta = [a[i] - b[i] for i in range(len(a))]

In [25]:
delta = [diff.total_seconds() for diff in delta]

In [86]:
#walk_fast.insert(3, "Interval", delta)
walk_fast.drop("Interval", axis = 1)

,User_id,Action,Date,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,Sensor_7_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
1,1,Walking Fast,'2017-08-02 13:29:23.778,1,0,0,2,0,0,0,...,0,0,0,0,1371,53,-7530,-719,1380,-100
2,1,Walking Fast,'2017-08-02 13:29:23.778,1,0,0,2,0,0,0,...,0,0,0,0,1305,147,-7917,-906,1233,-66
3,1,Walking Fast,'2017-08-02 13:29:23.788,1,0,0,2,0,0,0,...,0,0,0,0,1308,-159,-8133,-899,1061,-53
4,1,Walking Fast,'2017-08-02 13:29:23.798,1,0,0,2,0,0,0,...,0,0,0,0,1372,-119,-7951,-611,884,-169
5,1,Walking Fast,'2017-08-02 13:29:23.808,1,0,0,2,0,0,0,...,0,0,0,0,1490,190,-7676,-484,647,-218
6,1,Walking Fast,'2017-08-02 13:29:23.818,1,0,0,2,0,0,0,...,0,0,0,0,1527,270,-7323,-495,367,-188
7,1,Walking Fast,'2017-08-02 13:29:23.828,1,0,0,2,0,0,0,...,0,0,0,0,1525,605,-7238,-763,174,-86
8,1,Walking Fast,'2017-08-02 13:29:23.838,1,0,0,2,0,0,1,...,0,0,0,0,1468,620,-7451,-1029,-65,106
9,1,Walking Fast,'2017-08-02 13:29:23.848,2,1,1,2,0,0,1,...,0,0,0,0,1410,-44,-7791,-1055,-330,160
10,1,Walking Fast,'2017-08-02 13:29:23.858,2,1,1,2,0,0,1,...,0,0,0,0,1460,-1,-7800,-748,-560,62
11,1,Walking Fast,'2017-08-02 13:29:23.868,2,1,1,2,0,0,1,...,0,0,0,0,1407,247,-7752,-598,-855,-5
12,1,Walking Fast,'2017-08-02 13:29:23.878,2,1,1,2,0,0,0,...,0,0,0,0,1276,82,-8060,-288,-1228,-9
13,1,Walking Fast,'2017-08-02 13:29:23.888,2,1,1,2,0,1,0,...,0,0,0,0,1271,325,-8213,35,-1461,-21
14,1,Walking Fast,'2017-08-02 13:29:23.898,2,1,1,1,0,1,0,...,0,0,0,0,1343,346,-7921,104,-1693,34
15,1,Walking Fast,'2017-08-02 13:29:23.908,2,2,1,1,0,1,0,...,0,0,0,0,1313,68,-7855,78,-1995,54
16,1,Walking Fast,'2017-08-02 13:29:23.918,2,2,1,1,0,1,0,...,0,0,0,0,1124,186,-8222,-7,-2250,31
17,1,Walking Fast,'2017-08-02 13:29:23.928,2,2,1,1,0,1,0,...,0,0,0,0,1057,307,-8209,61,-2367,29
18,1,Walking Fast,'2017-08-02 13:29:23.938,2,2,1,1,0,1,0,...,0,0,0,0,1039,350,-8123,153,-2497,66
19,1,Walking Fast,'2017-08-02 13:29:23.948,2,2,1,1,0,1,0,...,0,0,0,0,965,248,-8459,102,-2617,142
20,1,Walking Fast,'2017-08-02 13:29:23.958,2,2,2,1,0,1,0,...,0,0,0,0,861,147,-8499,29,-2638,165
21,1,Walking Fast,'2017-08-02 13:29:23.968,2,2,2,1,0,1,0,...,1,0,0,0,892,-7,-8455,-136,-2745,180
22,1,Walking Fast,'2017-08-02 13:29:23.978,2,2,2,1,0,1,0,...,1,0,0,0,799,288,-8653,64,-2978,179
23,1,Walking Fast,'2017-08-02 13:29:23.988,2,2,2,1,1,1,0,...,1,0,0,0,582,-706,-9821,541,-3662,243
24,1,Walking Fast,'2017-08-02 13:29:23.998,2,2,2,1,1,1,0,...,1,1,0,0,157,1555,-9161,588,-2409,-356
25,1,Walking Fast,'2017-08-02 13:29:24.008,2,2,2,1,1,1,0,...,1,1,0,0,590,291,-9097,920,-2543,-276
26,1,Walking Fast,'2017-08-02 13:29:24.018,2,2,2,1,1,1,0,...,1,1,0,0,501,148,-8680,650,-2792,-275
27,1,Walking Fast,'2017-08-02 13:29:24.028,2,2,2,0,1,1,0,...,1,1,1,0,457,222,-8802,2,-2912,-332
28,1,Walking Fast,'2017-08-02 13:29:24.038,2,2,2,0,1,1,0,...,1,1,1,0,344,111,-8918,-445,-2822,-316
29,1,Walking Fast,'2017-08-02 13:29:24.048,2,2,2,0,1,1,0,...,1,1,1,0,157,393,-9179,-640,-2471,-255
30,1,Walking Fast,'2017-08-02 13:29:24.058,2,2,2,0,1,1,0,...,1,1,1,0,111,313,-9317,-608,-1921,-195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18047,1,Walking Fast,'2017-08-02 13:32:24.228,1,1,0,2,1,1,1,...,0,0,1,2,3058,-206,-12936,6212,4559,-1508
18048,1,Walking Fast,'2017-08-02 13:32:24.238,1,1,0,1,2,1,1,...,0,0,1,2,984,-285,-11112,4737,3182,-453
18049,1,Walking Fast,'2017-08-02 13:32:24.248,1,1,0,1,2,1,1,...,0,0,1,2,310,425,-9186,3381,2812,-473
18050,1,Walking Fast,'2017-08-02 13:32:24.258,1,1,0,1,2,1,1,...,0,0,1,2,-682,832,-8135,3236,2513,-391
18051,1,Walking Fast,'2017-08-02 13:32:24.268,1,1,0,1,2,1,1,...,1,0,1,2,162,401,-7867,3313,2254,90
18052,1,Walking Fast,'2017-08-02 13:32:24.278,1,2,0,0,2,1,1,...,1,0,0,2,250,581,-8255,3581,1789,150
18053,1,Walking Fast,'2017-08-02 13:32:24.288,2,2,0,0,2,1,1,...,1,0,0,2,146,-92,-8485,3521,1550,254
18054,1,Walking Fast,'2017-08-02 13:32:24.298,2,2,0,0,2,1,1,...,1,0,0,2,750,-187,-8692,2908,1355,252
18055,1,Walking Fast,'2017-08-02 13:32:24.308,2,2,0,0,2,1,1,...,1,0,0,2,455,81,-8985,2218,1090,193
18056,1,Walking Fast,'2017-08-02 13:32:24.318,2,2,0,0,2,1,1,...,1,0,0,2,243,161,-8904,1854,980,280
18057,1,Walking Fast,'2017-08-02 13:32:24.328,2,2,0,0,2,2,1,...,1,0,0,2,366,-325,-8760,1516,914,352
18058,1,Walking Fast,'2017-08-02 13:32:24.338,2,2,0,0,2,2,1,...,1,0,0,2,397,-690,-8750,832,803,230
18059,1,Walking Fast,'2017-08-02 13:32:24.348,2,2,0,0,2,2,1,...,1,0,0,2,355,-555,-8806,-71,726,3
18060,1,Walking Fast,'2017-08-02 13:32:24.358,2,2,0,0,2,2,0,...,1,0,0,2,333,93,-8760,-590,721,-77
18061,1,Walking Fast,'2017-08-02 13:32:24.368,2,2,0,0,2,1,0,...,1,0,0,1,245,217,-8634,-553,759,-14
18062,1,Walking Fast,'2017-08-02 13:32:24.378,2,2,0,0,2,1,0,...,1,0,0,1,279,249,-8654,-348,856,84
18063,1,Walking Fast,'2017-08-02 13:32:24.388,2,2,0,0,2,1,0,...,1,0,0,1,229,263,-8740,-8,984,171
18064,1,Walking Fast,'2017-08-02 13:32:24.398,2,2,0,0,2,1,0,...,1,0,0,1,89,168,-8811,355,1177,284
18065,1,Walking Fast,'2017-08-02 13:32:24.408,2,2,0,0,2,1,0,...,1,0,0,1,176,138,-8691,595,1374,329
18066,1,Walking Fast,'2017-08-02 13:32:24.418,2,2,0,0,2,0,0,...,1,0,0,0,289,233,-8506,819,1518,362
18067,1,Walking Fast,'2017-08-02 13:32:24.428,2,2,0,0,2,0,0,...,1,0,0,0,522,145,-8304,1144,1588,432
18068,1,Walking Fast,'2017-08-02 13:32:24.438,2,2,0,0,2,0,0,...,1,0,0,0,671,-26,-8105,1391,1576,459
18069,1,Walking Fast,'2017-08-02 13:32:24.448,2,2,0,0,2,0,0,...,1,0,0,0,729,-540,-7840,1247,1334,380
18070,1,Walking Fast,'2017-08-02 13:32:24.458,2,2,0,0,2,0,0,...,1,0,0,0,842,-860,-7808,586,958,156
18071,1,Walking Fast,'2017-08-02 13:32:24.468,2,2,0,0,2,0,0,...,1,0,0,0,874,-805,-7804,-219,515,-119
18072,1,Walking Fast,'2017-08-02 13:32:24.478,2,2,0,0,2,0,0,...,1,0,0,0,741,-543,-8046,-928,64,-370
18073,1,Walking Fast,'2017-08-02 13:32:24.488,2,2,0,0,2,0,0,...,1,0,0,0,568,104,-8489,-1181,-198,-501
18074,1,Walking Fast,'2017-08-02 13:32:24.498,2,2,0,0,2,0,0,...,1,0,0,0,499,725,-8707,-732,-231,-389
18075,1,Walking Fast,'2017-08-02 13:32:24.508,1,2,0,0,1,0,0,...,1,0,0,0,473,647,-8759,-13,-90,-133
18076,1,Walking Fast,'2017-08-02 13:32:24.518,1,1,0,0,1,0,0,...,1,0,0,0,640,225,-8633,486,87,63

In [45]:
def add_interval(look_up_table):
    for key in look_up_table:
        #num_rows = look_up_table.shape[0]
        current_action_data = look_up_table[key]
        num_rows = current_action_data.shape[0]
        start_time = [parse(current_action_data.iloc[0, 2])] * num_rows
        end_time = [parse(date_time) for date_time in current_action_data.iloc[:, 2]]
        delta = [end_time[i] - start_time[i] for i in range(len(start_time))]
        delta = [diff.total_seconds() for diff in delta]
        current_action_data.insert(3, "Interval", delta, allow_duplicates = False)
    return look_up_table

In [47]:
new_table = add_interval(table)

TypeError: Parser must be a string or character stream, not float

In [105]:
#new_table["Going Down Stairs"].drop("Interval", axis = 1)

,User_id,Action,Date,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,Sensor_7_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
1,1,Going Down Stairs,'2017-07-31 17:56:15.914,0,0,0,0,0,0,0,...,0,0,0,0,1352,-171,-8395,-583,3,139
2,1,Going Down Stairs,'2017-07-31 17:56:15.924,0,0,0,0,0,0,0,...,0,0,0,0,1681,-758,-8584,-583,3,139
3,1,Going Down Stairs,'2017-07-31 17:56:15.934,0,0,0,0,0,0,0,...,0,0,0,0,1965,-1598,-9009,-583,3,139
4,1,Going Down Stairs,'2017-07-31 17:56:15.944,0,0,0,0,0,0,0,...,0,0,0,0,2496,-2156,-9184,-583,3,139
5,1,Going Down Stairs,'2017-07-31 17:56:15.954,0,0,0,0,0,0,0,...,0,0,0,0,3118,-2354,-9336,-1684,-1476,-2483
6,1,Going Down Stairs,'2017-07-31 17:56:15.964,0,0,0,0,0,0,0,...,0,0,0,0,3710,-2055,-9502,-756,-1619,-2555
7,1,Going Down Stairs,'2017-07-31 17:56:15.974,0,0,0,0,0,0,0,...,0,0,0,0,4459,-1600,-9479,-102,-1565,-2797
8,1,Going Down Stairs,'2017-07-31 17:56:15.984,0,0,0,0,1,0,0,...,0,0,0,0,5106,-1172,-9189,240,-1330,-3157
9,1,Going Down Stairs,'2017-07-31 17:56:15.994,1,0,0,0,2,0,0,...,0,0,0,0,5340,-984,-9043,267,-946,-3641
10,1,Going Down Stairs,'2017-07-31 17:56:16.004,1,1,0,0,2,0,0,...,0,0,0,0,5059,-638,-9109,249,-448,-4252
11,1,Going Down Stairs,'2017-07-31 17:56:16.014,2,1,0,0,2,0,0,...,0,0,0,0,4233,-232,-8731,545,46,-4873
12,1,Going Down Stairs,'2017-07-31 17:56:16.024,2,2,0,0,2,1,0,...,0,0,0,0,3182,-574,-7978,623,379,-5440
13,1,Going Down Stairs,'2017-07-31 17:56:16.034,2,2,0,0,2,1,0,...,0,0,0,0,2576,-951,-7584,36,470,-6086
14,1,Going Down Stairs,'2017-07-31 17:56:16.044,2,2,0,0,2,2,1,...,0,0,0,0,2568,-968,-7617,-358,330,-6644
15,1,Going Down Stairs,'2017-07-31 17:56:16.054,2,2,0,0,2,2,1,...,0,0,0,0,2617,-912,-7582,-470,120,-7057
16,1,Going Down Stairs,'2017-07-31 17:56:16.064,2,2,1,0,2,2,1,...,0,0,0,0,2769,-856,-7374,-719,-39,-7250
17,1,Going Down Stairs,'2017-07-31 17:56:16.074,2,2,1,1,2,2,2,...,0,0,0,0,3070,-759,-7424,-1082,-73,-7110
18,1,Going Down Stairs,'2017-07-31 17:56:16.084,2,2,1,1,2,2,2,...,0,0,0,0,3381,-855,-7436,-1331,58,-6584
19,1,Going Down Stairs,'2017-07-31 17:56:16.094,2,2,1,1,2,2,2,...,0,0,0,0,11496,-6794,-14032,1140,1456,-5823
20,1,Going Down Stairs,'2017-07-31 17:56:16.104,2,2,1,1,2,2,2,...,0,0,0,0,4266,-2968,-2776,3031,2706,-5785
21,1,Going Down Stairs,'2017-07-31 17:56:16.114,2,2,1,1,2,2,2,...,0,0,0,0,6365,-106,-10012,5177,4314,-4391
22,1,Going Down Stairs,'2017-07-31 17:56:16.124,2,2,1,1,2,2,2,...,0,0,0,0,-784,-756,-8033,5761,3913,-2908
23,1,Going Down Stairs,'2017-07-31 17:56:16.134,2,2,1,1,2,2,2,...,0,0,0,0,-2007,3050,-9678,7554,2722,-1829
24,1,Going Down Stairs,'2017-07-31 17:56:16.144,2,2,1,1,2,2,2,...,0,0,0,0,4500,-7063,-12467,2894,-1756,654
25,1,Going Down Stairs,'2017-07-31 17:56:16.154,2,2,1,1,2,2,2,...,0,0,0,0,-329,-147,-7440,2297,-2252,566
26,1,Going Down Stairs,'2017-07-31 17:56:16.164,2,2,1,1,2,2,2,...,0,0,0,0,1140,64,-8015,1531,-2547,16
27,1,Going Down Stairs,'2017-07-31 17:56:16.174,2,2,1,1,2,2,2,...,0,0,0,0,87,767,-8081,1199,-3156,-173
28,1,Going Down Stairs,'2017-07-31 17:56:16.184,2,2,1,1,2,2,2,...,0,0,0,0,188,729,-8805,1029,-2652,-9
29,1,Going Down Stairs,'2017-07-31 17:56:16.194,2,2,1,1,2,1,1,...,0,0,0,0,-110,917,-9023,745,-1860,109
30,1,Going Down Stairs,'2017-07-31 17:56:16.204,2,2,1,1,2,1,1,...,0,0,0,0,-142,1086,-8919,611,-966,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5064,1,Going Down Stairs,'2017-07-31 17:57:06.544,0,0,0,1,1,0,1,...,2,0,0,0,545,-5679,-11418,799,3756,1843
5065,1,Going Down Stairs,'2017-07-31 17:57:06.554,0,0,0,1,1,0,1,...,2,0,0,0,1197,4385,-8132,3090,4520,948
5066,1,Going Down Stairs,'2017-07-31 17:57:06.564,0,0,0,1,1,0,1,...,2,0,0,0,1265,-3950,-8384,1941,4098,1735
5067,1,Going Down Stairs,'2017-07-31 17:57:06.574,0,0,0,1,1,0,1,...,2,0,0,0,1639,-372,-8284,2689,4432,757
5068,1,Going Down Stairs,'2017-07-31 17:57:06.584,0,0,0,1,1,0,1,...,2,0,0,0,1626,-2330,-7704,1021,4240,823
5069,1,Going Down Stairs,'2017-07-31 17:57:06.594,0,0,0,1,1,0,1,...,2,0,0,0,1798,-1705,-7910,287,4217,215
5070,1,Going Down Stairs,'2017-07-31 17:57:06.604,0,0,0,1,1,0,1,...,2,0,0,0,1863,-782,-7744,-885,4187,59
5071,1,Going Down Stairs,'2017-07-31 17:57:06.614,0,0,0,1,1,0,1,...,2,0,0,0,1554,-813,-7766,-1475,4135,-21
5072,1,Going Down Stairs,'2017-07-31 17:57:06.624,0,0,0,1,1,0,1,...,2,0,0,0,1395,756,-5440,-853,3984,-39
5073,1,Going Down Stairs,'2017-07-31 17:57:06.634,0,0,0,1,1,0,1,...,2,0,0,0,2417,1683,-2659,468,3003,345
5074,1,Going Down Stairs,'2017-07-31 17:57:06.644,0,0,0,1,1,0,1,...,2,0,0,0,3309,2370,-1760,1819,1268,1106
5075,1,Going Down Stairs,'2017-07-31 17:57:06.654,0,0,0,1,1,0,1,...,2,0,0,0,3280,1763,-1627,2434,-742,2054
5076,1,Going Down Stairs,'2017-07-31 17:57:06.664,0,0,0,1,1,0,1,...,2,0,0,0,2983,-793,-3125,2448,-2557,2679
5077,1,Going Down Stairs,'2017-07-31 17:57:06.674,0,0,0,1,1,0,1,...,2,0,0,0,2598,-2178,-4696,1866,-3909,2588
5078,1,Going Down Stairs,'2017-07-31 17:57:06.684,0,0,0,1,1,0,1,...,2,0,0,0,2456,-2724,-5217,544,-4787,2164
5079,1,Going Down Stairs,'2017-07-31 17:57:06.694,0,0,0,1,1,0,1,...,2,0,0,0,2104,-3644,-6169,-176,-5128,1814
5080,1,Going Down Stairs,'2017-07-31 17:57:06.704,0,0,0,1,1,0,1,...,2,0,0,0,1846,-3629,-7069,-1630,-5418,917
5081,1,Going Down Stairs,'2017-07-31 17:57:06.714,0,0,0,1,1,0,1,...,2,0,0,0,1128,-2579,-10439,-3380,-5307,125
5082,1,Going Down Stairs,'2017-07-31 17:57:06.724,0,1,0,1,1,0,1,...,2,0,0,0,764,-1180,-12908,-3308,-4781,-567
5083,1,Going Down Stairs,'2017-07-31 17:57:06.734,0,1,0,1,1,0,1,...,2,0,0,0,469,1306,-13985,-2903,-3182,-697
5084,1,Going Down Stairs,'2017-07-31 17:57:06.744,0,1,0,1,1,0,1,...,2,0,0,0,38,1575,-16241,-1708,-955,-344
5085,1,Going Down Stairs,'2017-07-31 17:57:06.754,0,1,0,1,1,0,1,...,2,0,0,0,-87,1620,-18069,-98,2305,85
5086,1,Going Down Stairs,'2017-07-31 17:57:06.764,0,1,0,1,1,0,1,...,2,0,0,0,-239,111,-21328,1748,6081,356
5087,1,Going Down Stairs,'2017-07-31 17:57:06.774,0,1,0,1,2,0,1,...,1,0,0,0,-654,3957,-23694,3143,10668,483
5088,1,Going Down Stairs,'2017-07-31 17:57:06.784,0,1,0,1,2,1,1,...,1,0,0,0,-1225,2439,-23452,3079,15422,1497
5089,1,Going Down Stairs,'2017-07-31 17:57:06.794,0,1,0,1,2,1,1,...,1,0,0,0,-2588,2376,-23022,4728,20250,1549
5090,1,Going Down Stairs,'2017-07-31 17:57:06.804,0,1,0,1,2,1,1,...,1,0,0,0,-2571,3783,-21178,6483,22456,1866
5091,1,Going Down Stairs,'2017-07-31 17:57:06.814,0,1,0,1,2,1,1,...,0,0,0,0,-5820,-1036,-21211,7962,23389,2141
5092,1,Going Down Stairs,'2017-07-31 17:57:06.824,0,1,0,0,2,1,1,...,0,0,0,0,-6157,-420,-14422,13628,25217,401
5093,1,Going Down Stairs,'2017-07-31 17:57:06.834,0,1,0,0,2,1,1,...,0,0,0,0,-6058,4669,-10658,17655,26250,-707

In [46]:
data_for_first_person = pd.concat([new_table[key] for key in new_table], axis = 0, ignore_index = True)
#accumulator = []
#accumulator = [new_table[key] for key in new_table]
#count = 0
#for k in new_table:
    #count += new_table[k].shape[0]
#print(count)

NameError: name 'new_table' is not defined

In [170]:
a = data_for_first_person[data_for_first_person["Action"] == "Running"]
a.head()
#[print(a.shape) for a in accumulator]

,User_id,Action,Date,Interval,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
55445,1,Running,'2017-07-31 17:59:10.032,0.00,0,1,0,2,1,0,...,1,0,0,0,10,907,-8068,-176,41,156
55446,1,Running,'2017-07-31 17:59:10.042,0.01,0,1,0,2,1,0,...,1,0,0,0,12,901,-8042,-176,41,156
55447,1,Running,'2017-07-31 17:59:10.052,0.02,0,1,0,2,1,0,...,1,0,0,1,-27,890,-7944,-176,41,156
55448,1,Running,'2017-07-31 17:59:10.062,0.03,0,1,0,2,1,0,...,1,0,0,1,-83,965,-8002,-176,41,156
55449,1,Running,'2017-07-31 17:59:10.072,0.04,0,0,0,2,1,0,...,1,0,0,1,-153,1031,-8112,-257,-536,-19

In [148]:
temp = temp.append(new_table["Uphill Walking"])

In [149]:
temp.shape

(48900, 32)

In [151]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
   ...:                     'B': ['B0', 'B1', 'B2', 'B3'],
   ...:                     'C': ['C0', 'C1', 'C2', 'C3'],
   ...:                     'D': ['D0', 'D1', 'D2', 'D3']},
   ...:                    index=[0, 1, 2, 3])

In [152]:
df1.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [153]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
   ...:                     'B': ['B4', 'B5', 'B6', 'B7'],
   ...:                     'C': ['C4', 'C5', 'C6', 'C7'],
   ...:                     'D': ['D4', 'D5', 'D6', 'D7']},
   ...:                    index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
   ...:                     'B': ['B8', 'B9', 'B10', 'B11'],
   ...:                     'C': ['C8', 'C9', 'C10', 'C11'],
   ...:                     'D': ['D8', 'D9', 'D10', 'D11']},
   ...:                    index=[8, 9, 10, 11])

In [154]:
frames = [df1, df2, df3]

In [161]:
result = pd.concat(frames, axis = 0)

In [162]:
result.shape

(12, 4)

In [157]:
type(result)

pandas.core.frame.DataFrame

In [158]:
type(frames)

list

In [28]:
def get_data_for_each_person(paths):
    """
    return a table that maps key (1, 2, 3, ... , 14) to data frame that contains information about that corresponding person
    """
    current_person = 1
    look_up_table_for_everyone = {}
    for path in paths:
        print(path)
        look_up = look_up_table_for_each_person(path, LIST_OF_ACTIONS)
        #look_up_table_for_each_person[key].dropna() for key in look_up_table_for_each_person
        for key in look_up:
            look_up[key] = look_up[key].dropna()
        new_table = add_interval(look_up)
        individual_data = pd.concat([new_table[key] for key in new_table], axis = 0, ignore_index = True)
        look_up_table_for_everyone[current_person] = individual_data
        current_person += 1
    return look_up_table_for_everyone

In [29]:
#data_for_second_person = get_data_for_each_person("C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\02")
paths = get_file_paths(PATH)
final = get_data_for_each_person(paths)

C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\01
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\02
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\03
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\04
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\05
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\06
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\07
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\08
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\09
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\10
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\11
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\12
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\13
C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\14

In [60]:
final[1].tail(18200)

,User_id,Action,Date,Interval,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
86244,1,Running,'2017-07-31 18:04:18.022,307.99,0,1,0,0,0,0,...,1,1,1,1,477,443,-8169,468,542,265
86245,1,Running,'2017-07-31 18:04:18.032,308.00,0,1,0,0,0,0,...,1,1,1,1,490,426,-8167,554,597,271
86246,1,Running,'2017-07-31 18:04:18.042,308.01,0,0,0,0,0,0,...,1,1,1,1,469,404,-8141,582,624,270
86247,1,Running,'2017-07-31 18:04:18.052,308.02,0,0,0,0,0,0,...,1,1,1,1,428,420,-8210,647,699,293
86248,1,Running,'2017-07-31 18:04:18.062,308.03,0,0,0,0,0,0,...,1,1,1,1,529,353,-8144,733,786,297
86249,1,Running,'2017-07-31 18:04:18.072,308.04,0,0,0,0,0,0,...,1,1,1,1,524,192,-8149,750,822,286
86250,1,Running,'2017-07-31 18:04:18.082,308.05,0,0,0,0,0,0,...,1,1,1,0,567,161,-8251,619,874,250
86251,1,Running,'2017-07-31 18:04:18.092,308.06,0,0,0,0,0,0,...,1,1,1,0,585,231,-8311,470,917,250
86252,1,Running,'2017-07-31 18:04:18.102,308.07,0,0,0,0,0,0,...,1,1,1,0,538,356,-8364,397,968,275
86253,1,Running,'2017-07-31 18:04:18.112,308.08,0,0,0,0,0,0,...,1,1,1,0,611,371,-8363,445,1088,315
86254,1,Running,'2017-07-31 18:04:18.122,308.09,0,0,0,0,0,0,...,1,1,1,0,552,383,-8531,562,1233,357
86255,1,Running,'2017-07-31 18:04:18.132,308.10,0,0,0,0,0,0,...,1,1,1,0,569,394,-8626,737,1471,424
86256,1,Running,'2017-07-31 18:04:18.142,308.11,0,0,0,0,0,0,...,1,1,0,0,461,437,-8946,958,1814,498
86257,1,Running,'2017-07-31 18:04:18.152,308.12,0,0,0,0,0,0,...,1,1,0,0,519,539,-9161,1176,2035,597
86258,1,Running,'2017-07-31 18:04:18.162,308.13,0,0,0,0,0,0,...,1,1,0,0,381,1084,-9405,1926,2525,791
86259,1,Running,'2017-07-31 18:04:18.172,308.14,0,0,0,0,0,0,...,1,1,0,0,581,-1820,-13254,2928,3577,750
86260,1,Running,'2017-07-31 18:04:18.182,308.15,0,0,0,0,0,0,...,1,0,0,0,378,-424,-12026,2746,6822,264
86261,1,Running,'2017-07-31 18:04:18.192,308.16,0,0,0,0,0,0,...,1,0,0,0,445,684,-11194,2645,7332,478
86262,1,Running,'2017-07-31 18:04:18.202,308.17,0,0,0,0,0,0,...,1,0,0,0,732,-1472,-12309,2363,8359,395
86263,1,Running,'2017-07-31 18:04:18.212,308.18,0,0,0,0,0,0,...,1,0,0,0,603,-14,-11981,1820,9657,-70
86264,1,Running,'2017-07-31 18:04:18.222,308.19,0,0,0,0,0,0,...,1,0,0,0,860,391,-12073,878,10629,38
86265,1,Running,'2017-07-31 18:04:18.232,308.20,0,0,0,0,0,0,...,1,0,0,0,637,-8,-12533,630,11643,247
86266,1,Running,'2017-07-31 18:04:18.242,308.21,0,0,0,0,0,0,...,1,0,0,0,523,259,-12117,705,12846,266
86267,1,Running,'2017-07-31 18:04:18.252,308.22,0,0,0,0,0,0,...,1,0,0,0,751,1328,-11555,978,14371,600
86268,1,Running,'2017-07-31 18:04:18.262,308.23,0,0,0,0,0,0,...,1,0,0,0,1315,532,-10313,1293,16359,933
86269,1,Running,'2017-07-31 18:04:18.272,308.24,0,0,0,0,0,0,...,1,0,0,0,875,1126,-13487,2708,16997,1386
86270,1,Running,'2017-07-31 18:04:18.282,308.25,0,0,0,0,0,0,...,1,0,0,0,1017,2864,-13555,4283,18534,1917
86271,1,Running,'2017-07-31 18:04:18.292,308.26,0,0,0,0,0,0,...,1,0,0,0,1394,4951,-13411,5413,20683,2897
86272,1,Running,'2017-07-31 18:04:18.302,308.27,0,0,0,0,0,0,...,1,0,0,0,1607,5596,-14890,6695,21651,4258
86273,1,Running,'2017-07-31 18:04:18.312,308.28,0,0,0,0,0,0,...,0,0,0,0,1898,8378,-14691,7294,22290,5514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104414,1,Walking Fast,'2017-08-02 13:32:24.228,180.45,1,1,0,2,1,1,...,0,0,1,2,3058,-206,-12936,6212,4559,-1508
104415,1,Walking Fast,'2017-08-02 13:32:24.238,180.46,1,1,0,1,2,1,...,0,0,1,2,984,-285,-11112,4737,3182,-453
104416,1,Walking Fast,'2017-08-02 13:32:24.248,180.47,1,1,0,1,2,1,...,0,0,1,2,310,425,-9186,3381,2812,-473
104417,1,Walking Fast,'2017-08-02 13:32:24.258,180.48,1,1,0,1,2,1,...,0,0,1,2,-682,832,-8135,3236,2513,-391
104418,1,Walking Fast,'2017-08-02 13:32:24.268,180.49,1,1,0,1,2,1,...,1,0,1,2,162,401,-7867,3313,2254,90
104419,1,Walking Fast,'2017-08-02 13:32:24.278,180.50,1,2,0,0,2,1,...,1,0,0,2,250,581,-8255,3581,1789,150
104420,1,Walking Fast,'2017-08-02 13:32:24.288,180.51,2,2,0,0,2,1,...,1,0,0,2,146,-92,-8485,3521,1550,254
104421,1,Walking Fast,'2017-08-02 13:32:24.298,180.52,2,2,0,0,2,1,...,1,0,0,2,750,-187,-8692,2908,1355,252
104422,1,Walking Fast,'2017-08-02 13:32:24.308,180.53,2,2,0,0,2,1,...,1,0,0,2,455,81,-8985,2218,1090,193
104423,1,Walking Fast,'2017-08-02 13:32:24.318,180.54,2,2,0,0,2,1,...,1,0,0,2,243,161,-8904,1854,980,280
104424,1,Walking Fast,'2017-08-02 13:32:24.328,180.55,2,2,0,0,2,2,...,1,0,0,2,366,-325,-8760,1516,914,352
104425,1,Walking Fast,'2017-08-02 13:32:24.338,180.56,2,2,0,0,2,2,...,1,0,0,2,397,-690,-8750,832,803,230
104426,1,Walking Fast,'2017-08-02 13:32:24.348,180.57,2,2,0,0,2,2,...,1,0,0,2,355,-555,-8806,-71,726,3
104427,1,Walking Fast,'2017-08-02 13:32:24.358,180.58,2,2,0,0,2,2,...,1,0,0,2,333,93,-8760,-590,721,-77
104428,1,Walking Fast,'2017-08-02 13:32:24.368,180.59,2,2,0,0,2,1,...,1,0,0,1,245,217,-8634,-553,759,-14
104429,1,Walking Fast,'2017-08-02 13:32:24.378,180.60,2,2,0,0,2,1,...,1,0,0,1,279,249,-8654,-348,856,84
104430,1,Walking Fast,'2017-08-02 13:32:24.388,180.61,2,2,0,0,2,1,...,1,0,0,1,229,263,-8740,-8,984,171
104431,1,Walking Fast,'2017-08-02 13:32:24.398,180.62,2,2,0,0,2,1,...,1,0,0,1,89,168,-8811,355,1177,284
104432,1,Walking Fast,'2017-08-02 13:32:24.408,180.63,2,2,0,0,2,1,...,1,0,0,1,176,138,-8691,595,1374,329
104433,1,Walking Fast,'2017-08-02 13:32:24.418,180.64,2,2,0,0,2,0,...,1,0,0,0,289,233,-8506,819,1518,362
104434,1,Walking Fast,'2017-08-02 13:32:24.428,180.65,2,2,0,0,2,0,...,1,0,0,0,522,145,-8304,1144,1588,432
104435,1,Walking Fast,'2017-08-02 13:32:24.438,180.66,2,2,0,0,2,0,...,1,0,0,0,671,-26,-8105,1391,1576,459
104436,1,Walking Fast,'2017-08-02 13:32:24.448,180.67,2,2,0,0,2,0,...,1,0,0,0,729,-540,-7840,1247,1334,380
104437,1,Walking Fast,'2017-08-02 13:32:24.458,180.68,2,2,0,0,2,0,...,1,0,0,0,842,-860,-7808,586,958,156
104438,1,Walking Fast,'2017-08-02 13:32:24.468,180.69,2,2,0,0,2,0,...,1,0,0,0,874,-805,-7804,-219,515,-119
104439,1,Walking Fast,'2017-08-02 13:32:24.478,180.70,2,2,0,0,2,0,...,1,0,0,0,741,-543,-8046,-928,64,-370
104440,1,Walking Fast,'2017-08-02 13:32:24.488,180.71,2,2,0,0,2,0,...,1,0,0,0,568,104,-8489,-1181,-198,-501
104441,1,Walking Fast,'2017-08-02 13:32:24.498,180.72,2,2,0,0,2,0,...,1,0,0,0,499,725,-8707,-732,-231,-389
104442,1,Walking Fast,'2017-08-02 13:32:24.508,180.73,1,2,0,0,1,0,...,1,0,0,0,473,647,-8759,-13,-90,-133
104443,1,Walking Fast,'2017-08-02 13:32:24.518,180.74,1,1,0,0,1,0,...,1,0,0,0,640,225,-8633,486,87,63

In [36]:
data_frame_for_everyone = pd.concat([final[key] for key in final], axis = 0, ignore_index = True)

In [40]:
export_excel = data_frame_for_everyone.to_excel (r'C:\Users\nhatl\Desktop\Insole_data.xlsx', index = None, header=True)

KeyboardInterrupt:

In [27]:
def get_data_for_each_person_2(path):
    #current_person = 1
    look_up_table_for_everyone = {}
    for path in paths:
        print(path)
        look_up = look_up_table_for_each_person(path, LIST_OF_ACTIONS)
        new_table = add_interval(look_up)
        individual_data = pd.concat([new_table[key] for key in new_table], axis = 0, ignore_index = True)
        look_up_table_for_everyone[current_person] = individual_data
    return look_up_table_for_everyone

In [32]:
four_teen = get_data_for_each_person_2("C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\14")
four_teen.head()

C:\Users\nhatl\Desktop\Insole_dataset\Insole_dataset\14

,User_id,Action,Date,Interval,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
0,14,Walking,'2017-08-03 19:39:13.966,0.00,0,0,0,2,0,1,...,0,1,1,1,-421,666,-8461,-25,-48,4
1,14,Walking,'2017-08-03 19:39:13.976,0.01,0,0,0,2,0,1,...,0,1,1,1,-421,666,-8461,-25,-48,4
2,14,Walking,'2017-08-03 19:39:13.986,0.02,0,0,0,2,0,1,...,0,1,1,1,-427,627,-8482,-25,-48,4
3,14,Walking,'2017-08-03 19:39:13.996,0.03,0,0,0,2,0,1,...,0,1,1,1,-401,673,-8496,-25,-48,4
4,14,Walking,'2017-08-03 19:39:14.006,0.04,0,0,0,2,0,1,...,0,1,1,1,-410,663,-8482,-25,-48,4

In [12]:
data_for_third_person = get_data_for_each_person("C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\03")

In [13]:
data_for_third_person.head()

,User_id,Action,Date,Interval,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
0,3,Walking,'2017-08-01 10:36:31.634,0.00,1,0,1,2,0,0,...,0,0,0,2,557,613,-8442,-47,-15,19
1,3,Walking,'2017-08-01 10:36:31.644,0.01,1,0,1,2,0,0,...,0,0,0,2,569,631,-8439,-47,-15,19
2,3,Walking,'2017-08-01 10:36:31.654,0.02,1,0,1,2,0,0,...,0,0,0,2,574,597,-8425,-47,-15,19
3,3,Walking,'2017-08-01 10:36:31.664,0.03,1,0,1,2,0,0,...,0,0,0,2,554,626,-8451,-47,-15,19
4,3,Walking,'2017-08-01 10:36:31.674,0.04,1,0,1,2,0,0,...,0,0,0,2,580,635,-8459,-47,-15,19

In [15]:
data_for_fourth_person = get_data_for_each_person("C:\\Users\\nhatl\\Desktop\\Insole_dataset\\Insole_dataset\\04")

In [16]:
data_for_fourth_person.head()

,User_id,Action,Date,Interval,Sensor_1_left,Sensor_2_left,Sensor_3_left,Sensor_4_left,Sensor_5_left,Sensor_6_left,...,Sensor_5_right,Sensor_6_right,Sensor_7_right,Sensor_8_right,Acc_x_right,Acc_y_right,Acc_z_right,Gyzo_x_right,Gyzo_y_right,Gyzo_z_right
0,4,Walking,'2017-08-01 15:45:49.548,0.00,2,2,2,0,2,2,...,0,1,0,1,-170,310,-8482,1,-56,-1
1,4,Walking,'2017-08-01 15:45:49.558,0.01,2,2,2,0,2,2,...,0,1,0,1,-161,324,-8534,1,-56,-1
2,4,Walking,'2017-08-01 15:45:49.568,0.02,2,2,2,0,2,2,...,0,1,0,1,-155,336,-8501,1,-56,-1
3,4,Walking,'2017-08-01 15:45:49.578,0.03,2,2,2,0,2,2,...,0,1,0,1,-164,324,-8509,1,-56,-1
4,4,Walking,'2017-08-01 15:45:49.588,0.04,2,2,2,0,2,2,...,0,1,0,1,-165,318,-8488,-34,-37,-3